@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
  </head>
  <body>
    <div asp-prerender-module="ClientApp/ssr-scripts/renderOnServer"></div>
    <script src="dist/main.js"></script>
  </body>
</html>
